.git
.gitignore
__pycache__
*.pyc
*.pyo
*.log
*.md
LICENSE
.DS_Store
Thumbs.db
node_modules
.next
APP/
WEB/Eco_NEXT/
WEB/Frame_PHP/
WEB/Lab_NEXT/
WEB/Edu_PHP/storage/vendor/
WEB/Edu_PHP/storage/cache/
WEB/TirahAI_NEXT/node_modules/
WEB/TirahAI_NEXT/.next/
